{# ------------------------------------------------------------------------ #}
{# Creative Commons license mark generator for Jinja2 templates, including  #}
{# Pelican-generated static sites (or blogs).                               #}
{# ------------------------------------------------------------------------ #}
{# To use, put this file in a location where your template can import it.   #}
{# Then import into the template, for example like this:                    #}
{# {% from '/path/to/where/you/placed/the/file' import cc_license_mark %}   #}
{# Then call as simply as {{ cc_license_mark("CC-BY") }}.                   #}
{#                                                                          #}
{# If full attribution markup is desired in a Pelican template, the         #}
{# attr_props dict can be defaulted to the following when calling the macro:#}
{# attr_props={'title':SITENAME,'name':AUTHOR,'url':SITEURL}
{# ------------------------------------------------------------------------ #}
{# Generate a license mark for Creative Commons licensed content.           #}
{# Choose the license either by name (CC-BY, CC-BY-SA, CC-BY-NC-SA, or      #}
{# CC-BY-NC-ND), or by its features (allow derivatives: Yes, No, ShareAlike;#}
{# allow commercial reuse: Yes, No). Name, if provided, takes precedence,   #}
{# and case is ignored.                                                     #}
{#                                                                          #}
{# Optional:                                                                #}
{#   br_after_icon: if true put a line break after the license icon         #}
{#   attr_markup: if true create markup for fulll attribution               #}
{#   attr_props: if attr_markup, a dict with title, name, and url keys      #}
{#               specifying how under which title, to which creator, and    #}
{#               to which URL to attribute the work                         #}
{# The parameters all mirror the Creative Commone license chooser:          #}
{# http://creativecommons.org/choose/                                       #}
{# ------------------------------------------------------------------------ #}
{# Copyright (c) 1994 Hilmar Lapp, hlapp@drycafe.net.                       #}
{# Licensed under the terms of the MIT License.                             #}
{# Source at http://github.com/hlapp/cc-tools. Please fork & contribute.    #}
{# ------------------------------------------------------------------------ #}
{% macro cc_license_mark(cc_name,
                         derivatives, commercial,
                         lang, desc=false,
                         cc_title_suffix="",
                         br_after_icon=false,
                         attr_markup=false,
                         attr_props={}) %}

  {% if cc_name %}
    {% set cc_name = cc_name|lower|replace("cc-","") %}
  {% else %}
    {% set cc_name = "by" %}
    {% set cc_title_suffix = "" %}
    {% if (not commercial) or (commercial|lower == "no") %}
      {% set cc_name = cc_name ~ "-nc" %}
      {% set cc_title_suffix = "─非商业性使用" %}
    {% endif %}
    {% if derivatives|lower == "no" %}
      {% set cc_name = cc_name ~ "-nd" %}
      {% set cc_title_suffix = cc_title_suffix ~ "─禁止演绎" %}
    {% elif derivatives|lower == "sharealike" %}
      {% set cc_name = cc_name ~ "-sa" %}
      {% set cc_title_suffix = cc_title_suffix ~ "─相同方式共享" %}
    {% endif %}
  {% endif %}
  {% set cc_url_suffix = "" %}
  {% set cc_title = "知识共享署名CCSUFFIX 4.0 国际 许可协议" %}
  {% set cc_url_suffix = "deed.zh" %}
  {% set cc_d0  = "除另有注明外，" %}
  {% set cc_d00 = "「" %}
  {% set cc_d01 = "」" %}
  {% set cc_d10 = "（作者: " %}
  {% set cc_d11 = "）" %}
  {% set cc_d1  = "" %}
  {% set cc_d2  = "本站上内容都" %}
  {% set cc_d3  = "采用" %}
  {% set cc_d4  = "进行许可。" %}
  {% set cc_d5    = "本文由 " %}
  {% set cc_d6    = " 采用 " %}
  {% set cc_d7    = " 进行许可。如果你发布这篇文章或者这篇文章的修改版，那么你必须同时注明本文原作者署名为 " %}
  {% set cc_d8    = " 以及到本文原文的" %}
  {% set cc_d9    = "链接" %}
  {% set cc_dx    = "。" %}
  {% set cc_title = cc_title|replace('CCSUFFIX',cc_title_suffix) %}
  {% set cc_uri   = "http://creativecommons.org/licenses/CCNAME/4.0/" ~ cc_url_suffix %}
  {% set cc_icon  = "/theme/images/cc/CCNAME/4.0/80x15.png" %}

  {% if (not desc) %}
  <a class="license" rel="license" href="{{ cc_uri|replace('CCNAME',cc_name) }}"><img alt="Creative Commons License" style="border-width:0" src="{{ cc_icon|replace('CCNAME',cc_name) }}" /></a>
  {% if br_after_icon %}<br/>{% endif %}
  {{ cc_d0 }} 
  {% if attr_markup %}{{ cc_d00 }}<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title" about="{{ attr_props['arturl'] }}">{{ attr_props['title'] }}</span>{{ cc_d01 }}{{ cc_d10 }}<a xmlns:cc="http://creativecommons.org/ns#" href="{{ attr_props['url'] }}" property="cc:attributionName" rel="cc:attributionURL">{{ attr_props['name'] }}</a>{{ cc_d11 }}{{ cc_d1 }}{% else %}{{ cc_d2 }}{% endif %}{{ cc_d3 }}<a class="license" rel="license" href="{{ cc_uri|replace('CCNAME',cc_name) }}" target="_blank">{{ cc_title|replace('CCSUFFIX',cc_title_suffix) }}</a>{{ cc_d4 }}
  {% else %}
  <span>{{ cc_d5 }}{{ attr_props['name'] }}{{ cc_d6 }}<a class="license" rel="license" href="{{ cc_uri|replace('CCNAME',cc_name) }}" target="_blank">{{ cc_title }}</a>{{ cc_d7 }}<a xmlns:cc="http://creativecommons.org/ns#" href="{{ attr_props['authorurl'] if attr_props['authorurl'] else attr_props['url'] }}" property="cc:attributionName" rel="cc:attributionURL">{{ attr_props['name'] }}</a>{{ cc_d8 }}<a href="{{ attr_props['arturl'] if attr_props['arturl'] else attr_props['url'] }}">{{ cc_d9 }}</a>{{ cc_dx }}</span>
  {% endif %}
{% endmacro %}

