              <section class="comments hidden-print" id="comments">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  {% if article %}
                  {% set page = article %}
                  {% endif %}
                  {% if DISQUS_SITENAME %}
                  <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="disqus-heading">
                      <a id="toggle-disqus" data-toggle="collapse" data-parent="#accordion" href="#disqus-comments" aria-expanded="false" aria-controls="disqus-comments">
                        <i class="fa fa-comments-o"></i><span class="icon-label">Disqus 评论（自备梯子）</span>
                      </a>
                    </div>
                    <div id="disqus-comments" class="panel-collapse collapse" role="tabpanel" aria-labelledby="disqus-heading">
                      <div class="panel-body">
                        <div class="tab-pane fade active in" id="disqus-comments">
                          <div id="disqus_thread"></div>
                          <script>
                            var disqus_config = function () {
                              {% if article %}
                                this.page.identifier = '{{ article.date|strftime('%Y-%m-') ~ article.slug if DISQUS_ID_PREFIX_SLUG else article.slug }}';
                                this.page.url = '{{ MAINSITEURL}}/{{ article.url }}';
                              {% elif page %}
                                this.page.identifier = '{{ page.slug }}';
                                this.page.url = '{{ MAINSITEURL}}/{{ page.slug }}.html';
                              {% endif %}
                              {% set langname = dict(zh='zh', zht='zh', en='en') %}
                              this.language = "{{ langname[article.lang if article else DEFAULT_LANG] }}";
                            };
                            document.getElementById('toggle-disqus').addEventListener('click', function(){
                                var scr = document.getElementsByTagName('script');
                                var scrembeded = false;
                                for (var i = 0; i < scr.length; ++i) {
                                  if (scr[i].getAttribute('src') == "https://iume.disqus.com/embed.js") {
                                    scrembeded = true;
                                  }
                                }
                                if ( document.getElementById('toggle-disqus').getAttribute('aria-expanded') == "false" && scrembeded == false ) {
                                  (function() { // DON'T EDIT BELOW THIS LINE
                                  var d = document, s = d.createElement('script');
                                  s.src = 'https://iume.disqus.com/embed.js';
                                  s.setAttribute('data-timestamp', +new Date());
                                  (d.head || d.body).appendChild(s);
                                  })();
                              }
                            });
                          </script>
                          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                          <a href="https://disqus.com" class="dsq-brlink">请稍等.. 评论由 Disqus 驱动..</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </section>
