  <footer>
    <div class="container">
      <div class="row">
        {% if articles %}
        {% set copy_date = articles[0].date.strftime('%Y') %}
        {% else %}
        {% set copy_date = '' %}
        {% endif %}
        <div class="col-md-24">
          <p><small>
            &copy; {{ copy_date }} {{ AUTHOR }}
            &middot; {% trans %}Powered by{% endtrans %}
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a> {% trans %}generator{% endtrans %}
            {%- if CC_LICENSE or CC_LICENSE_DERIVATIVES or CC_LICENSE_COMMERCIAL %}
            &middot; 
            {% from 'includes/cc-license.html' import cc_license_mark %}
            {{ cc_license_mark(cc_name=CC_LICENSE,cc_title_suffix=CC_LICENSE_NAME,derivatives=CC_LICENSE_DERIVATIVES,commercial=CC_LICENSE_COMMERCIAL,lang=DEFAULT_LANG,br_after_icon=True,attr_markup=CC_ATTR_MARKUP,attr_props={'title':SITENAME,'name':article.author if article else AUTHOR,'url':SITEURL}) }}
            {% endif %}
          </small></p>
        </div>
      </div>
    </div>
    <a href="#" id="jtop"></a>
  </footer>
