{% extends "includes/sidebar_item.html" %}
{% block sidebarxs %}hidden-xs{% endblock sidebarxs %}

                    {% block sidebartitle %}
                    <div class="panel-heading"> 
                      <h4>
                        <i class="fa fa-github fa-lg"></i><span class="icon-label">GitHub 仓库</span>
                      </h4>
                    </div>
                    {% endblock sidebartitle %}

                {% block sidebarcontent %}
                <div class="panel-body">
                  <div id="gh_repos">
                    <p class="list-group-item">Status updating...</p>
                  </div>
                </div>
                {% endblock sidebarcontent %}
