{% extends "includes/sidebar_item.html" %}
{% block sidebarxs %}hidden-xs{% endblock sidebarxs %}

                    {% block sidebartitle %}
                    <div class="panel-heading">
                      <h4>
                        <i class="fa fa-usd fa-lg"></i><span class="icon-label">{% trans %}Promotions{% endtrans %}</span>
                      </h4>
                    </div>
                    {% endblock sidebartitle %}

                {% block sidebarcontent %}
                <div class="panel-body">
                  {{ SIDEBAR_PROMOTION | safe }}
                </div>
                {% endblock sidebarcontent %}
