                      {% macro translations_for(article) %}
                      {% if article.translations %}

                      <li class="dropdown">
                      {% set langname = dict(zh='简体', zht='繁體', en='English') %}
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-language fa-invert"></i>
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li class="active">
                            <a href="{{ SITEURL }}/{{ article.url }}">{{ langname[article.lang] }}</a>
                          </li>

                        {%- for translation in article.translations -%}
                          <li>
                            <a href="{{ SITEURL }}/{{ translation.url }}" class="translate">{{ langname[translation.lang] }}</a>
                          </li>
                        {%- endfor -%}

                        </ul>
                      </li>
                      {% endif %}
                      {% endmacro %}
