{% extends "article_list.html" %}
  {% block title %}{{ category }} - {{ SITENAME }}{% endblock %}

  {% block meta %}
  <meta name="author" content="{{ AUTHOR }}" />
  <meta name="keywords" content="{{ category }}" />
  {% endblock %}

          {% block breadcrumbs %}
            {% if DISPLAY_BREADCRUMBS %}
          <ol class="breadcrumb" {{ BREADCRUMBLIST_OL }}>
            <li {{ BREADCRUMBLIST_LI }}>
              <a {{ BREADCRUMBLIST_A }} href="{{ SITEURL }}/">
                <span {{ BREADCRUMBLIST_NAME }}>{{ SITENAME }}</span>
                <img {{ BREADCRUMBLIST_IMG }} src="/theme/images/fa/home.svg" alt="Home"/>
              </a>
              {% if BREADCRUMBLIST_OL %}<meta itemprop="position" content="1" />{% endif %}
            </li>
            ›
            <li {{ BREADCRUMBLIST_LI }}>
              <a {{ BREADCRUMBLIST_A }} href="{{ SITEURL }}/categories.html">
                <span {{ BREADCRUMBLIST_NAME }}>{% trans %}Categories{% endtrans %}</span>
                <img {{ BREADCRUMBLIST_IMG }} src="/theme/images/fa/th-list.svg" alt="Categories"/>
              </a>
              {% if BREADCRUMBLIST_OL %}<meta itemprop="position" content="2" />{% endif %}
            </li>
            ›
            <li {{ BREADCRUMBLIST_LI }} class="active">
              <a {{ BREADCRUMBLIST_A }} href="{{ SITEURL }}/{{ category.url }}">
                <span {{ BREADCRUMBLIST_NAME }}>{{ category }}</span>
                <img {{ BREADCRUMBLIST_IMG }} src="/theme/images/fa/list.svg" alt="Category"/>
              </a>
              {% if BREADCRUMBLIST_OL %}<meta itemprop="position" content="3" />{% endif %}
            </li>
            <li><a href="{{ SITEURL }}/feeds/{{ category|lower }}.atom.xml" title="{% trans %}Feeds for category {{tag}}{% endtrans %}"><i class="fa fa-rss"></i></a></li>
          </ol>
            {% endif %}
          {% endblock %}
