{% extends "article_list.html" %}

<!-- up -->
<!-- up -->

  {% block canonical_rel %}
  <link rel="canonical" href="{{ SITEURL }}">
  {% endblock %}

    {% block banner %}
	    {% include 'includes/banner.html' %}
    {% endblock %}

          {% block breadcrumbs %}
            {% if DISPLAY_BREADCRUMBS %}
          <ol class="breadcrumb" {{ BREADCRUMBLIST_OL }}>
            <li {{ BREADCRUMBLIST_LI }} class="active">
              <a {{ BREADCRUMBLIST_A }} href="{{ SITEURL }}/">
                <span {{ BREADCRUMBLIST_NAME }}>{{ SITENAME }}</span>
                <img {{ BREADCRUMBLIST_IMG }} src="/theme/images/fa/home.svg" alt="Home"/>
              </a>
              {% if BREADCRUMBLIST_OL %}<meta itemprop="position" content="1" />{% endif %}
            </li>
          </ol>
            {% endif %}
          {% endblock %}
