{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
  {% block title %}{{ page.title }} - {{ SITENAME }}{% endblock %}

  {% block meta %}
    {% if page.author %}
  <meta name="author" content="{{ page.author }}" />
    {% else %}
  <meta name="author" content="{{ AUTHOR }}" />
    {% endif %}
    {% if page.summary %}
  <meta name="description" content="{{ page.summary|striptags|escape }}" />
    {% endif %}
  {% endblock %}

  {% block opengraph %}
    {% if OPEN_GRAPH_FB_APP_ID %}
  <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}"/>
    {% endif %}
  <meta property="og:site_name" content="{{ SITENAME }}" />
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="{{ page.title|striptags|escape }}"/>
  <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}"/>
  <meta property="og:description" content="{{ page.summary|striptags|escape }}" />
    {% if page.og_image %}
  <meta property="og:image" content="{{ SITEURL }}/{{ page.og_image }}"/>
    {% elif OPEN_GRAPH_IMAGE %}
  <meta property="og:image" content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}"/>
    {% endif %}
  {% endblock %}

  {% block canonical_rel %}
  <link rel="canonical" href="{{ SITEURL }}/{{ page.url }}">
  {% endblock %}

          {% block breadcrumbs %}
            {% if DISPLAY_BREADCRUMBS %}
          <ol class="breadcrumb" {{ BREADCRUMBLIST_OL }}>
            <li {{ BREADCRUMBLIST_LI }}>
              <a {{ BREADCRUMBLIST_A }} href="{{ SITEURL }}/">
                <span {{ BREADCRUMBLIST_NAME }}>{{ SITENAME }}</span>
                <img {{ BREADCRUMBLIST_IMG }} src="/theme/images/fa/home.svg" alt="Home"/>
              </a>
              {% if BREADCRUMBLIST_OL %}<meta itemprop="position" content="1" />{% endif %}
            </li>
	            {% if page.url %}
            ›
            <li {{ BREADCRUMBLIST_LI }} class="active">
              <a {{ BREADCRUMBLIST_A }} href="{{ SITEURL }}/{{ page.url }}">
                <span {{ BREADCRUMBLIST_NAME }}>{{ page.title }}</span>
                <img {{ BREADCRUMBLIST_IMG }} src="/theme/images/fa/file-text.svg" alt="Page"/>
              </a>
              {% if BREADCRUMBLIST_OL %}<meta itemprop="position" content="2" />{% endif %}
            </li>
	            {% endif %}
          </ol>
            {% endif %}
          {% endblock %}

          {% block content %}
          <section id="content" class="body">
            <article class="jumbotron page">
              <header class="page-header panel-primary">
                <div class="panel-heading" style="border-bottom: 0;">
                  <h1>
                    <div class="row">
                      <div class="col-xl-21 col-lg-20 col-md-18 col-sm-16 col-xs-16">
                        {{ page.title }}
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-xs-8">
                        <ul class="nav">
                          <li>
                            <a href="{{SITEURL}}/{{page.slug}}.rst.html" onclick="return getSourceCode();" class="btn btn-primary sourcecode btn-with-icon-in-panel" title="显示源码" style="text-align: left;"><i class="fa fa-file-code-o fa-invert"></i></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </h1>
                </div>
              </header>
              <div class="entry-content" id="article-content">
                {{ page.content }}
              </div>
              <div class="entry-content" id="source-content" style="display: none">
                <div id="source-code"></div>
              </div>
              {% include 'includes/comments.html' %}
            </article>
          </section>
          {% endblock %}
  {% block scripts %}
  <script>
    function getSourceCode(){
      var url = '{{SITEURL}}/{{page.slug}}.rst.html';
      var xhr = new XMLHttpRequest();
      xhr.open('GET', url);
      xhr.onload = function() {
        if (xhr.status === 200) {
          $('#source-code').html(xhr.responseText)
        } else {
          $('#source-code').html("Get source code error from {{SITEURL}}/{{page.slug}}.rst.html.")
        }
      }
      xhr.send();
      $('#article-content').toggle();
      $('#source-content').toggle();
      $('#source-code').html("waitting..")
      return false;
    }
  </script>
  {% endblock %}
