{% extends "article_list.html" %}
  {% block title %}{{ tag }} - {{ SITENAME }}{% endblock %}

  {% block meta %}
  <meta name="author" content="{{ AUTHOR }}" />
  <meta name="keywords" content="{{ tag }}" />
  {% endblock %}

          {% block breadcrumbs %}
            {% if DISPLAY_BREADCRUMBS %}
          <ol class="breadcrumb" {{ BREADCRUMBLIST_OL }}>
            <li {{ BREADCRUMBLIST_LI }}>
              <a {{ BREADCRUMBLIST_A }} href="{{ SITEURL }}/">
                <span {{ BREADCRUMBLIST_NAME }}>{{ SITENAME }}</span>
                <img {{ BREADCRUMBLIST_IMG }} src="/theme/images/fa/home.svg" alt="Home"/>
              </a>
              {% if BREADCRUMBLIST_OL %}<meta itemprop="position" content="1" />{% endif %}
            </li>
            ›
            <li {{ BREADCRUMBLIST_LI }}>
              <a {{ BREADCRUMBLIST_A }} href="{{ SITEURL }}/tags.html">
                <span {{ BREADCRUMBLIST_NAME }}>标签</span>
                <img {{ BREADCRUMBLIST_IMG }} src="/theme/images/fa/tags.svg" alt="Tags"/>
              </a>
              {% if BREADCRUMBLIST_OL %}<meta itemprop="position" content="2" />{% endif %}
            </li>
            ›
            <li {{ BREADCRUMBLIST_LI }} class="active">
              <a {{ BREADCRUMBLIST_A }} href="{{ SITEURL }}/{{ tag.url }}">
                <span {{ BREADCRUMBLIST_NAME }}>{{ tag }}</span>
                <img {{ BREADCRUMBLIST_IMG }} src="/theme/images/fa/tag.svg" alt="Tag"/>
              </a>
              {% if BREADCRUMBLIST_OL %}<meta itemprop="position" content="3" />{% endif %}
            </li>
            <li><a href="{{ SITEURL }}/feeds/tag-{{ tag|lower }}.atom.xml" title="订阅标签 {{tag}}"><i class="fa fa-rss"></i></a></li>
          </ol>
            {% endif %}
          {% endblock %}
